[Unit]
Description=SSH Tunnel to Server
After=network.target auditd.service

[Service]
ExecStart=/bin/bash /usr/local/etc/clieNTUL
Restart=on-failure
User=root
RestartSec=10

[Install]
WantedBy=multi-user.target

#nano /etc/systemd/system/clieNTUL.service
#systemctl daemon-reload
#systemctl enable clieNTUL && systemctl start clieNTUL
#systemctl status clieNTUL
